extends layout

block content
  h1= title
  script(type='application/json' id='jsonActors')!= JSON.stringify(actor_list)

  form(method='POST')
    div.form-group
      input#all_followed_for_random_actors.checkbox-input(type='checkbox', name='all_followed_for_random_actors', checked=all_followed_for_random_actors_CHECKED)
      label(for='all_followed_for_random_actors') &nbsp;Get random followers of <b>all</b> stored followed
      br
      label(for='followed_for_random_actors') Get random followers of a single followed:
      select#followed_for_random_actors.form-control(name='followed_for_random_actors')
        option(value='') --Please select an actor--
        for actor in followed_actors
          if actor.did == followed_for_random_actors
            option(value=actor.did, selected) #{actor.displayName}
          else
            option(value=actor.did) #{actor.displayName}
    div.form-group
      label(for='how_much_random_actors') How much random actors:
        input#how_much_random_actors.form-control(type='text', name='how_much_random_actors', value=numberOfActors )
      br
      label(for='how_much_actor_sites_together') How much actor sites open together:
        input#how_much_actor_sites_together.form-control(type='text', name='how_much_actor_sites_together', value=howMuchActorSitesTogether )
      br
      label(for='keywords') Keywords (separated by comma and other punctuations):
      input#keywords.form-control(type='text', name='keywords', value=keywords)
    div.form-group
      input#remove_followed_by_standard_follower.checkbox-input(type='checkbox', name='remove_followed_by_standard_follower', checked=remove_followed_by_standard_follower_CHECKED)
      label(for='remove_followed_by_standard_follower') &nbsp;Remove actors already followed by standard follower.
      br
      input#remove_following_standard_follower.checkbox-input(type='checkbox', name='remove_following_standard_follower', checked)
      label(for='remove_following_standard_follower') &nbsp;Remove actors following the standard follower
      br
      input#remove_once_followed_by_standard_follower.checkbox-input(type='checkbox', name='remove_once_followed_by_standard_follower', checked)
      label(for='remove_once_followed_by_standard_follower') &nbsp;Remove actors once followed by standard follower.
      br
      input#show_despite_open_date_exists.checkbox-input(type='checkbox', name='show_despite_open_date_exists')
      label(for='show_despite_open_date_exists') &nbsp;Show actors despite open date exists.

    button.btn.btn-primary(type='submit') Submit

  if errors
    ul
      for error in errors
        li!= error.msg

  br

  if actor_list.length
    div.buttons-for-multiple-user-sites
      each actor, i in actor_list
        if (i+1) % howMuchActorSitesTogether == 0 || i == (actor_list.length - 1)
          input.button-user-sites(type=button, value=i+1, onclick="open_win(this)")
    ul
      each actor in actor_list
        li #{actor.actor.displayName} - #{actor.actor.description}

  else
    p There are no actors.
